<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>9800658134-vn7odf4sol39b6vv5po6qsig848oneho.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9800658134-vn7odf4sol39b6vv5po6qsig848oneho</string>
	<key>API_KEY</key>
	<string>AIzaSyAPweH5SdAtzI1WTNyeN75PfNpuZrKNve8</string>
	<key>GCM_SENDER_ID</key>
	<string>9800658134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CareerLink.FrontDeskApp</string>
	<key>PROJECT_ID</key>
	<string>frontdeskapp-b692c</string>
	<key>STORAGE_BUCKET</key>
	<string>frontdeskapp-b692c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9800658134:ios:1a670f077aeb4cbd</string>
	<key>DATABASE_URL</key>
	<string>https://frontdeskapp-b692c.firebaseio.com</string>
</dict>
</plist>