<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FrontDeskApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FBDC3E3220D9860300D7928E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBDC3E4620D9860400D7928E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBDC3E5120D9860400D7928E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
